body {
    margin:0px;
    
}

.top {
    background-color: #1F2937;
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
}

.header {
    display: flex;
    align-items:center;
    background-color: #1F2937;
    color:white;
    width:798px;
    justify-content: space-between;
    
}

.logo {
    font-weight: bold;
    font-size:large;
    align-self: center;
    font-size: 24px;
    
    
}

.links {
    display: flex;
    gap:16px;
    
}

a {
    color:white;
    text-decoration: none;
}

/* This is the upper content */

.uppercontent {
    display: flex;
    align-items: center;
    background-color: #1F2937;
    color:white;
    gap:48px;
    height: 300px;
    

}

.h1 {
    font-size: 48px;
    font-weight:bold ;
    color:#F9FAF8;
}
.uppercontentleft {
    flex-wrap: wrap;
    max-width: 300px;
    font-size:18px;
    color:#F9FAF8;
}

button {
    display: flex;
    background-color:#3882F6;
    color:white;
    width:80px;
    height:23px;
    border-radius:6px;
    align-items: center;
    font-weight: bold;
}

.image1{
    width: 450px;
    height: 200px;
    
}

.uppercontentright {
    display:flex;
    
}
/* This is the middle div */

.containermiddle {
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.information {
    display: flex;
    justify-content: center;
    height: 75px;
    align-self: center;
    font-size: 36px;
    font-weight: 700;
    color: #1F2937;
    
}

.imagerow {
    display: flex;
    width:700px;
    justify-content: space-between;
}

.image2 {
    height: 125px;
    width: 125px;
    border:3px solid #3882F6;
    border-radius: 5px;
}

.subtext {
    max-width:125px;
}

